{% extends "base_template.html" %}

{% block content %}
<section id="cd-rider">
  <h1>Add New Rider</h1>
  <header class="cd-header">
    <div id="cd-logo"><a href="#0"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-logo_2.svg" alt="Logo"></a></div>
    <a class="cd-menu-trigger" href="#main-nav">Menu<span></span></a>
  </header>

  <form id="cd-form" action="{% url 'add-new-rider' %}" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
</section>
{% endblock %}