{% extends "base_template.html" %}
{% load static %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/menu/menu.css' %}"/>-->
{% block content %}
<!--<body>-->
<section id="cd-rider">
	<head>
	<title>Contact V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/form/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/form/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/form/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/form/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/form/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/form/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/form/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/form/util.css' %}">
<!--===============================================================================================-->
	</head>
	<header class="cd-header">
    <div id="cd-logo"><a href="#0"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-logo_2.svg" alt="Logo"></a></div>
    <a class="cd-menu-trigger" href="#main-nav">Menu<span></span></a>
  	</header>
<!--	<div class="bg-contact3" style="background-image: url('images/menu_1.JPG');">-->
	<div class="bg-contact3">
<!--	<div class="bg-contact3" style="background-image: url({% static 'images/menu_1.JPG' %});">-->
		<div class="container-contact3">
			<div class="wrap-contact3">
				<form class="contact3-form validate-form" action="{% url 'add-new-rider' %}" method="post">
					{% csrf_token %}
					<span class="contact3-form-title">
						Add rider
					</span>

<!--					<div class="wrap-contact3-form-radio">-->
<!--						<div class="contact3-form-radio m-r-42">-->
<!--							<input class="input-radio3" id="radio1" type="radio" name="choice" value="say-hi" checked="checked">-->
<!--							<label class="label-radio3" for="radio1">-->
<!--								Say Hi-->
<!--							</label>-->
<!--						</div>-->

<!--						<div class="contact3-form-radio">-->
<!--							<input class="input-radio3" id="radio2" type="radio" name="choice" value="get-quote">-->
<!--							<label class="label-radio3" for="radio2">-->
<!--								Get Quote-->
<!--							</label>-->
<!--						</div>-->

<!--						<div class="contact3-form-radio">-->
<!--							<input class="input-radio3" id="radio3" type="radio" name="choice" value="get-quote">-->
<!--							<label class="label-radio3" for="radio3">-->
<!--								Get Some-->
<!--							</label>-->
<!--						</div>-->
<!--					</div>-->

					<div class="wrap-input3 validate-input" data-validate="First name is required">
						<label for="id_first_name"></label>
						<input class="input3" type="text" name="first_name" placeholder="Your First Name" required id="id_first_name">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Last name is required">
						<label for="id_last_name"></label>
						<input class="input3" type="text" name="last_name" placeholder="Your Last Name" required id="id_last_name">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Nationality is required">
						<label for="id_nationality"></label>
						<input class="input3" type="text" name="nationality" placeholder="Your Nationality" required id="id_nationality">
						<span class="focus-input3"></span>
					</div>

					<div class="wrap-input3 validate-input" data-validate="Date of birth is required">
						<label for="id_date_of_birth"></label>
						<input class="input3" type="text" name="date_of_birth" placeholder="Your Date of Birth (DD/MM/YYYY)" required id="id_date_of_birth">
						<span class="focus-input3"></span>
					</div>

<!--					<div class="wrap-input3 validate-input" data-validate = "Valid email is required: ex@abc.xyz">-->
<!--						<input class="input3" type="text" name="email" placeholder="Your Email">-->
<!--						<span class="focus-input3"></span>-->
<!--					</div>-->

<!--					<div class="wrap-input3 input3-select">-->
<!--						<div>-->
<!--							<select class="selection-2" name="service">-->
<!--								<option>Needed Services</option>-->
<!--								<option>eCommerce Bussiness</option>-->
<!--								<option>UI/UX Design</option>-->
<!--								<option>Online Services</option>-->
<!--							</select>-->
<!--						</div>-->
<!--						<span class="focus-input3"></span>-->
<!--					</div>-->

<!--					<div class="wrap-input3 input3-select">-->
<!--						<div>-->
<!--							<select class="selection-2" name="budget">-->
<!--								<option>Budget</option>-->
<!--								<option>1500 $</option>-->
<!--								<option>2000 $</option>-->
<!--								<option>3000 $</option>-->
<!--							</select>-->
<!--						</div>-->
<!--						<span class="focus-input3"></span>-->
<!--					</div>-->

<!--					<div class="wrap-input3 validate-input" data-validate = "Message is required">-->
<!--						<textarea class="input3" name="message" placeholder="Your Message"></textarea>-->
<!--						<span class="focus-input3"></span>-->
<!--					</div>-->

					<div class="container-contact3-form-btn">
						<button class="contact3-form-btn">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'javascript/form/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'javascript/form/bootstrap/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/form/bootstrap/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'javascript/form/select2/select2.min.js' %}"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
<!--	<script src="js/main.js"></script>-->
    <script type="text/javascript" src="{% static 'javascript/menu.js' %}"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</section>
{% endblock %}
